// Navigation code here
body {
  .NavContainer {
    .Center();
    border: 1px soild red;
    background-color: @nav-bg;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 4.5rem;
    a {
      text-decoration: none;
      flex-direction: row;
      font: @nav-font;
    }
    }
  }
}

