// Navigation code here
body {
  .NavContainer {
    .Center();
    padding: 5rem;
    border: 1px solid red;
    background-color: @nav-bg;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 4.5rem;
    a {
      border: 1px solid red;
      text-decoration: none;
      flex-direction: row;
      color: @nav-font;
    }
    }
  }
}

